body {
	position: fixed;
	width: 100%;
	height: 100%;
}

#site-wrapper-home {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

#content-container-outer-home {
	font-family: times;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto;
	padding-top: 76px;
	display: flex;
}

#home-screen {
	position: relative;
	background-color: var(--generic-white-background-color);
	display: flex;
	flex-direction: column;
	height: 100%;
	width: calc(min(100vw, 75vh));
	padding: 10px 40px;
}

#side-panel-left, #side-panel-right {
	height: 100%;
	flex-basis: 0;
	flex-grow: 1;
}

#breviarium-title {
	text-align: center;
	color: red;
	font-size: 30px;
	font-variant: small-caps;
	font-weight: normal;
	letter-spacing: .05em;
	margin-bottom: 12px;
}

.breviarium-subtitle {
	text-align: center;
	color: red;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: normal;
	margin: 0;
}

.breviarium-subtitle-2 {
	text-align: center;
	color: black;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: normal;
	margin: 12px;
}

.nav-element {
	font-size: 20px;
	color: black;
	text-decoration: none;
}
