#content-container-inner {
	font-family: times;
	padding: 0 40px !important;
}

h1 {
	color: red;
	font-size: 30px !important;
	letter-spacing: .05em;
	font-weight: normal;
	font-variant: small-caps;
}

h3 {
	text-align: center !important;
	color: red;
	font-size: 20px !important;
	font-weight: normal;
	margin-top: 6px;
	margin-bottom: 0;
}

p {
	margin-top: 6px;
	margin-bottom: 0;
	font-size: 18px;
	text-align: justify;
	hyphens: auto;
}

.aureus {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.just-red {
	font-weight: normal;
	color: red;
}

td {
	text-align: center;
	vertical-align: top;
	width: 50px;
}

.big-table {
	font-size: 16px;
	border-collapse: collapse;
}

table.big-table th {
	width: 100px;
}

table.big-table td {
	width: initial;
}

.tabula-paschalis-epact {
	color: red;
	text-align: left;
}

tr.major-row td {
	border-top: 1px solid black;
}
