h1 {
	font-family: "Old Standard TT", times;
	text-align: center;
	color: var(--rubric);
	font-size: 30px;
	font-variant: small-caps;
	font-weight: normal;
	letter-spacing: .05em;
}

h2 {
  font-family: "Arsenal", sans-serif;
  color: var(--content-text-color);
	font-size: 24px;
	font-weight: normal;
}

.subtitle {
	margin-top: -12px;
}

h3 {
  font-family: "Arsenal", sans-serif;
	color: var(--content-text-color);
	font-size: 20px;
	font-weight: normal;
}

p, ol, ul {
  font-family: "Arsenal", sans-serif;
	font-size: 18px;
	color: var(--content-text-color);
}

a {
  font-family: "Arsenal", sans-serif;
	font-size: 18px;
}
