body {
	position: fixed;
	width: 100%;
	height: 100%;
}

#site-wrapper-home {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

#content-container-outer-home {
	font-family: times;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto;
	padding-top: 76px;
	display: flex;
}

#home-screen {
	position: relative;
	background-color: var(--generic-white-background-color);
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: calc(min(100vw, 75vh));
}

#side-panel-left, #side-panel-right {
	height: 100%;
	flex-basis: 0;
	flex-grow: 1;
}

#main-title-label {
	color: red;
	font-size: 24px;
}

#center-nav {
}
