#kalendar-title {
	font-family: 'times';
	text-align: center;
	color: red;
	font-size: 30px;
	font-variant: small-caps;
	font-weight: normal;
	letter-spacing: .05em;
	margin-bottom: 12px;
}

.month-name-title {
	font-family: 'times';
	color: red;
	font-weight: normal;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	letter-spacing: .03em;
}

.kalendar-table {
	font-family: 'times';
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	margin-left: auto;
	margin-right: auto;
}

.kalendar-table-header {
	color: red;
	font-weight: normal;
	border-bottom: 1px solid red;
	vertical-align: middle !important;
	font-size: 16px;
}

.rotated-header {
	transform: rotate(90deg);
	height: 30px;
}

.kalendar-table-entry {
	vertical-align: top;
	border-left: 1px solid red;
	border-right: 1px solid red;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
}

.date-entry {
	text-align: right;
}

.kalendar-entry-nowrap {
	white-space: nowrap;
}
