.latin-content {
	margin-bottom: 20px;
}

ol {
	margin-top: 6px;
	margin-bottom: 0;
	font-size: 18px;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

table {
	margin-top: 6px;
	table-layout: fixed;
}

td {
	font-size: 18px;
	text-align: center;
}

th {
	font-weight: normal;
	font-size: 18px;
	white-space: nowrap;
	text-align: left;
}

.table-expl {
	font-size: 14px;
	max-width: 100px;
}

.rotate {
	writing-mode: vertical-lr;
	text-orientation: sideways;
}
