#content-container-inner {
	font-family: times;
	padding: 0 40px !important;
}

.latin-content {
	margin-bottom: 20px;
	column-count: 1;
	column-gap: 20px;
}

h1 {
	color: red;
	font-size: 30px !important;
	letter-spacing: .05em;
	font-weight: normal;
	font-variant: small-caps;
}

h3 {
	text-align: center !important;
	color: red;
	font-size: 20px !important;
	font-weight: normal;
	margin-top: 6px;
	margin-bottom: 0;
}

p {
	margin-top: 6px;
	margin-bottom: 0;
	font-size: 18px;
	text-align: justify;
	hyphens: auto;
}

ol {
	margin-top: 6px;
	margin-bottom: 0;
	font-size: 18px;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

h4 {
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	margin-top: 6px;
	margin-bottom: 0;
}

table {
	margin-top: 6px;
	table-layout: fixed;
}

td {
	font-size: 18px;
	text-align: center;
}

th {
	font-weight: normal;
	font-size: 18px;
	white-space: nowrap;
	text-align: left;
}

.table-expl {
	font-size: 14px;
	max-width: 100px;
}

.rotate {
	writing-mode: vertical-lr;
	text-orientation: sideways;
}
