h1 {
	font-family: 'times';
	text-align: center;
	color: red;
	font-size: 30px;
	font-variant: small-caps;
	font-weight: normal;
	letter-spacing: .05em;
}

h2 {
	font-family: 'times';
	text-align: center;
	color: red;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: normal;
}

.subtitle {
	margin-top: -12px;
}

h3 {
	font-family: 'times';
	text-align: left;
	color: black;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: normal;
}
