h1 {
	font-size: 24px;
	text-align: center;
}

h2 {
	font-size: 22px;
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}

h3 {
	font-size: 18px;
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 5px;
}
