typings/
*.pyc
__pycache__
kalendars/**
kalendars/testdata/**
kalendar/lunar_chart.json
*.swp
*.swo
testdata/*
testresults/*
.direnv/
data/generated/
books.json
web/resources/dist/
node_modules/
package-lock.json
