/* Rite container and formatting for hour itself */
#rite-container {
	font-family: "Old Standard TT", times;
	font-size: 20px;
	padding: 10px 40px 10px 40px;
	min-height: calc(100vh - 71px - var(--top-bar-title-height));
	background-color: var(--generic-white-background-color);
	display: block;
}

.rite-item {
	margin: 0;
	padding: 0;
}

.date-header {
  font-family: "Old Standard TT", times;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: -14px;
  font-size: 16px;
}

.large-title {
	font-family: "Old Standard TT", times;
	font-variant: small-caps;
	font-weight: normal;
	color: red;
	font-size: 26px;
	text-align: center;
	margin-bottom: 0;
}

.large-subtitle {
	font-family: "Old Standard TT", times;
	font-variant: small-caps;
	font-weight: normal;
	color: black;
	font-size: 18px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.25;
}

.small-title {
	font-family: "Old Standard TT", times;
	font-variant: small-caps;
	font-weight: normal;
	color: red;
	font-size: 22px;
	text-align: center;
	margin-bottom: 0;
}

.section-header {
	font-family: "Old Standard TT", times;
	font-variant: small-caps;
	font-weight: normal;
	color: red;
	font-size: 22px;
	text-align: center;
	margin: 0;
}

.item-header {
	font-variant: small-caps;
	font-weight: normal;
	color: red;
	font-size: 20px;
	text-align: center;
	margin: 0;
}

.rite-text {
	font-family: "Old Standard TT", times;
	line-height: 1.25;
	margin-top: 7px;
	margin-bottom: 14px;
	text-align: justify;
	hyphens: auto;
}

.verse-number {
	color: red;
	font-size: 8px;
}

.rite-text-rubric {
	color: red;
	font-size: 16px;
}

.black-rubric {
	color: black;
}

.small-rubric {
	font-size: 14px !important;
}

.rite-text-rubric-above-paragraph {
	margin-top: 7px;
	margin-bottom: -7px;
	font-size: 16px;
}

/* Formatting for specific items */
.aperi-domine, .sacrosanctae {
	font-size: 16px !important;
}

:is(.aperi-domine, .sacrosanctae, .absolutio, .lectionis-titulum, .evangelium-matutini, .hymnus, .capitulum, .antiphona, .martyrologium, .pater-noster-secreta, .ave-maria-secreta, .credo-secreta, .preces:first-letter, .pater-noster-clara-voce, .pater-noster-semisecreta, .credo-semisecreta, .confiteor, .oratio-sanctae-mariae, .formula-lectionis, .invitatorium, .pro-prandio, .pro-coena, .itinerarium, .formula-indulgentiam-articulo-mortis, .collecta-primaria, .commemorationes, .antiphona-bmv, .officium-capituli) p.rite-text::first-letter {
  color: red;
}


:is(.textus-psalmi, .lectio-incipiens, .lectio-sequens, .epiphania-venite-incipit, .textus-psalmi-precibus, .collecta, .oratio-dirigere, .hymnus.te-deum) p.rite-text::first-letter {
	float: left;
	font-size: 94px;
	margin-right: 0.1rem;
	color: red;
	line-height: 0;
	initial-letter: 3;
	-webkit-initial-letter: 3;
}

:is(.lectio-sequens, .textus-psalmi-precibus, .collecta, .oratio-dirigere, .hymnus.te-deum, .lectio-incipiens.lectio-commemorationis) p.rite-text::first-letter {
	font-size: 60px !important;
	initial-letter: 2;
	-webkit-initial-letter: 2;
}

.collecta, .oratio-dirigere {
	min-height: 50px;
}

.collecta.triduum {
	margin-top: 7px;
}

.rubricum {
	margin-bottom: 0;
}

#rite-container.chant-shown .chantelement-text-content {
  display: none;
}

#rite-container.chant-hidden .chantelement-chant-content {
  display: none;
}

#rite-container.chant-shown span.preceding-syllable {
  font-style: italic;
}

#rite-container.chant-shown span.accent-start {
  font-weight: bold;
}

#rite-container.side-by-side div.rite-text-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 30px;
  width: 100%;
}

p.rite-text-latin {
  grid-column: 1;
}

p.rite-text-translation {
  grid-column: 2;
}

#rite-container.line-by-line .rite-text-translation {
	font-size: 0.8em;
	color: #222;
	margin-top: 0;
	line-height: 1;
	padding-left: 10px;
}

span.rite-text.chant-translation {
	font-size: 14px;
	color: #222;
	margin-top: 0;
	line-height: 1;
	padding-left: 10px;
}

#rite-container.line-by-line .rite-text-translation span.line-starting-symbol {
  display: none;
}

/* Large Screens */
@media only screen and (min-width: 2000px) {

	#rite-container {
		padding: 10px 100px 10px 100px;
	}

	.collecta, .oratio-dirigere {
		min-height: 60px;
	}

	#next-hour-button-container {
		padding: 0 30px 60px 30px;
	}

	#next-hour-forbidden-tooltip {
		top: 5px;
	}
}
