@import "./font-faces.css";
@import "./top-bar.css";
@import "./components.css";

:root {
	--panel-background-color: #ffffff;
	--border-color: #efe9e9;
	--site-background-color: #fcf5eb;
	--panel-text-color: #000000;
	--panel-text-color-muted: #333333;
	--overlay-background-color: rgba(249, 249, 249, .7);
	--overlay-background-color-strong: rgba(249, 249, 249, .8);

	--top-bar-title-height: 85px;
  --component-border-radius: 5px;
	--button-color: #eee;
	--button-color-hover: #e0b0b0;
	--button-color-toggled: #e6b0b0;
  --button-text-color: black;

	/* Variables used for the actual page content. */
	--content-background-color: #ffffff;
	--content-border: #efe9e9;
	--content-hover: #e0b0b0;
	--content-text-color: #000000;
	--content-text-color-muted: #222222;
	--rubric: red;
	--native-scheme: light;
}

[data-theme="dark"] {
	--panel-background-color: #202126;
	--border-color: #3a3b44;
	--button-color: #26272c;
	--button-color-hover: #313239;
	--button-color-toggled: #393a42;
	--site-background-color: #1a1a1e;
	--panel-text-color: #cfcbbc;
	--panel-text-color-muted: #85816f;
	--overlay-background-color: rgba(26, 26, 30, .7);
	--overlay-background-color-strong: rgba(26, 26, 30, .85);

	--content-background-color: #e8e1d0;
	--content-border: #c9c0a8;
	--content-hover: #c9a0a0;
	--content-text-color: #2a2a26;
	--content-text-color-muted: #544f42;
	--rubric: #cc2819;
	--native-scheme: dark;
}

html {
  /* Fix safari resizing text */
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--site-background-color);
}

#site-wrapper {
	width: 100%;
}

#content-container {
	position: relative;
	min-height: 50vh;
	max-width: 140em;
	margin: calc(var(--top-bar-title-height) + 1px) auto 0 auto;
	padding: 10px 40px;
	background-color: var(--content-background-color);
}

@media print {
	#top-bar-title {
		display: none;
	}

	#content-container {
		margin: 0;
	}
}

.red {
	color: var(--rubric) !important;
}

tspan[style="font-family:'Exsurge Characters';fill:#f00;"] {
	font-family: 'Versiculum'!important;
	font-variant:normal;
	font-size: 130%;
	text-transform: lowercase;
}

[x-cloak] { display: none !important; }
