@font-face {
	font-family: 'paulus-franck-initialen';
	src: url('/resources/PaulusFranckInitialen.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

#rite-page-container {
	position: relative;
	max-width: 100em;
}

#side-panel-left, #side-panel-right {
	width: 20em;
	flex-shrink: 0;
	background-color: #f9f9ee;
}

@media only screen and (max-width: 70em) {
	#side-panel-left, #side-panel-right {
		display: none;
	}
}

#rite-container {
	font-family: times;
	padding: 10px 30px 30px 40px;
	height: 100%;
	background-color: #f9f9f9;
}

.rite-name {
	text-align: center;
}

.text-container-latin {
	margin: 0;
	padding: 0;
}

.text-container-translation {
	margin: -16px 0 0 0;
	padding: 0;
}

.text-content-translation {
	font-size: 18px;
	line-height: 1;
	color: #111;
	padding-left:10px;
}

.chant-wrapper {
	width: 0;
}

.chant-content-translation {
	font-size: 18px;
	line-height: 1;
	color: #222;
}

.decorated-wrapper {
	display: flex;
}

.decoration-left-wrapper {
	width: 15%;
}

.decorated-content-wrapper {
	width: 85%;
}

#options-panel-background {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(249, 249, 249, .7);
	z-index: 1;
}

#options-panel {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	width: 30em;
	height: 50vh;
	max-width: 100%;
	background-color: rgba(249, 249, 249, 1);
	display: flex;
	flex-direction: column;
	gap: 7px;
}

#options-panel-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#bottom-easy-select-container {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#bottom-easy-select-hide {
	width: 100px;
	height: 20px;
}

#bottom-easy-select-content-container {
	background-color: rgba(249, 249, 249, .8);
	border: 1px solid #eee;
	border-radius: 5px;
	padding-bottom: 10px;
}

#bottom-easy-select-hide-icon {
	height: 30px;
	margin-top: -5px;
}

#date-selector-container {
	margin: 0;
	display: flex;
	justify-content: center;
	gap: 7px;
}

#date-selector-text {
	height: 30px;
	font-size: 18px;
	border: 1px solid #eee;
	border-radius: 5px;
	cursor: pointer;
	font-family: times;
	color: black;
}

.date-selector-button {
	width: 30px;
	height: 30px;
	padding-top: 5px;
	text-align: center;
	font-size: 24px;
}

#options-button {
	height: 30px;
	text-align: center;
	font-size: 18px;
}

#rite-selector-container {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 7px;
	min-height: 35px;
	flex-wrap: wrap;
}

.rite-selector-button {
	height: 25px;
	text-align: center;
	font-size: 18px;
}

.rite-selector-button-selected {
	font-weight: bold;
}

@media print {
	#options-panel, #side-panel-left, #side-panel-right, #bottom-easy-select-container {
		display: none;
	}
}

#rite-container {
	font-size: 20px;
}

.ante-officium, .post-officium {
	font-size: 18px;
}

.evangelium-matutini::first-letter {
	font-size: 20px;
	font-weight: bold;
	color: red;
}

.psalmus::first-letter, .lectio-incipiens::first-letter {
	font-family: 'paulus-franck-initialen';
	float: left;
	font-size: 115px;
	margin-right: 0.5rem;
	color: red;
}

.lectio-sequens::first-letter {
	font-family: 'paulus-franck-initialen';
	float: left;
	font-size: 80px;
	color: red;
}

@media only screen and (max-width: 650px) {
	.psalmus::first-letter, .lectio-incipiens::first-letter {
		line-height: .8;
	}
}

.verse-number {
	font-size: 8px;
	color: red;
}
