.text-wrapper {
	width: 100%;
	padding-bottom:5px;
}

.text-container-latin {
	margin: 0;
	padding: 0;
}

.text-content-latin {
	font-size: 24px;
	line-height: 1.25;
}

.text-container-translation {
	margin: -16px 0 0 0;
	padding: 0;
}

.text-content-translation {
	font-size: 18px;
	line-height: 1;
	color: #111;
	padding-left:10px;
}

.chant-content-translation {
	font-size: 18px;
	line-height: 1;
	color: #222;
}

.decorated-wrapper {
	display: flex;
}

.decoration-left-wrapper {
	width: 15%;
}

.decorated-content-wrapper {
	width: 85%;
}

