body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
}

#content-wrapper {
	font-family: times;
	margin-left: 100px;
	margin-right: 100px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top:0;
	height: 100%;
	background-color: #ffffff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.red {
  color: #d00!important;
}

.verse-number {
	font-family: 'Crimson Text', serif;
	font-size: 12px;
	color: red;
}

h2.text-head {
	font-size: 22px;
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

h3.sub-head {
	font-size: 18px;
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.text-line {
	font-size: 18px;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;
}