#rite-page-container {
	position: relative;
	max-width: 100em;
}

@media only screen and (max-width: 70em) {
	#side-panel-left, #side-panel-right {
		display: none;
	}
}

#rite-container {
	font-family: times;
	padding: 10px 30px 30px 40px;
	height: 100%;
	background-color: #f9f9f9;
}

.text-container-latin {
	margin: 0;
	padding: 0;
}

.text-content-latin {
	font-size: 24px;
	line-height: 1.25;
}

.text-container-translation {
	margin: -16px 0 0 0;
	padding: 0;
}

.text-content-translation {
	font-size: 18px;
	line-height: 1;
	color: #111;
	padding-left:10px;
}

.chant-wrapper {
	width: 0;
}

.chant-content-translation {
	font-size: 18px;
	line-height: 1;
	color: #222;
}

.decorated-wrapper {
	display: flex;
}

.decoration-left-wrapper {
	width: 15%;
}

.decorated-content-wrapper {
	width: 85%;
}

#top-right-panel-toggle {
	float: right;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: times;
	white-space: nowrap;
}

#top-right-panel-container {
	position: fixed;
	top: 76px;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
}

#top-right-panel {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

#bottom-easy-select-container {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding-bottom: 10px;
	background-color: rgba(249, 249, 249, .8);
	max-width: 100%;
	border: 1px solid #eee;
	border-radius: 5px;
}

#date-selector-container {
	margin: 0;
	display: flex;
	justify-content: center;
	gap: 7px;
}

#date-selector-text {
	height: 35px;
	font-size: 20px;
	border: 1px solid #eee !important;
}

#date-selector-text, button {
	border-radius: 5px;
	color: black;
	font-family: times;
	cursor: pointer;
	border: none;
}

.date-selector-button {
	height: 35px;
	font-size: 24px;
	padding-top: 10px;
}

#rite-selector-container {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 7px;
	min-height: 35px;
	flex-wrap: wrap;
}

.rite-selector-button {
	font-size: 18px;
	height: 100%;
}

.rite-selector-button-selected {
	font-weight: bold;
}

@media print {
	#top-right-panel-container, #side-panel-left, #side-panel-right, #bottom-easy-select-container {
		display: none;
	}
}
