.text-container-latin {
	margin: 0;
	padding: 0;
}

.text-content-latin {
	font-size: 24px;
	line-height: 1.25;
}

.text-container-translation {
	margin: -16px 0 0 0;
	padding: 0;
}

.text-content-translation {
	font-size: 18px;
	line-height: 1;
	color: #111;
	padding-left:10px;
}

.chant-content-translation {
	font-size: 18px;
	line-height: 1;
	color: #222;
}

.decorated-wrapper {
	display: flex;
}

.decoration-left-wrapper {
	width: 15%;
}

.decorated-content-wrapper {
	width: 85%;
}

#top-right-panel-toggle {
	position: sticky;
	top: 0;
	right: 0;
	font-size: 20px;
	font-family: times;
	white-space: nowrap;
	margin-top: 10px;
	margin-right: 10px;
}

#top-right-panel-wrapper {
	position: fixed;
	top: 0;
	right: 0;
}

#top-right-panel {

}

#bottom-easy-select-wrapper {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding-bottom: 10px;
	background-color: rgba(249, 249, 249, .8);
	max-width: 100%;
	border: 1px solid #eee;
	border-radius: 5px;
}

#date-selector-wrapper {
	margin: 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}

#date-selector-text {
	height: 35px;
	font-size: 20px;
	border: 1px solid #eee;
}

#date-selector-text, .date-selector-button, .rite-selector-button {
	border-radius: 5px;
	color: black;
	font-family: times;
	cursor: pointer;
}

.date-selector-button {
	height: 35px;
	font-size: 24px;
	padding-top: 10px;
	border: none;
}

#rite-selector-wrapper {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 10px;
	min-height: 35px;
	flex-wrap: wrap;
}

.rite-selector-button {
	font-size: 18px;
	height: 100%;
	border: none;
}

.rite-selector-button-selected {
	font-weight: bold;
}
